*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}

/* this is the header section styling */

.head{

height: 650px;
width: auto;
background-color:#e554731a ;
display: flex;
justify-content: space-around;
}


.header-text{
    width: 550px;
    height: 450px;
    margin-top: 150px;
    margin-left: 150px;
}


.header-text-title{
    color: #272727;
font-family: Lato;
font-size: 60px;
font-weight: 800;
}

.header-text-description{
    color: rgba(39, 39, 39, 0.60);
font-size: 14px;
font-weight: 600;
line-height: 20px;
padding-top: 20px;
width: 450px;
}

.header-btn{
    padding: 15px 35px;
    gap: 10px;
    background-color: #E55473;
    border-radius: 6px;
    border: none;
    margin-top: 25px;
    color: #FFF;
    font-size: 15px;
    font-weight: 500;

}


.header-img{
 width: 500px;
 height:610px;
 background-image: url('images/pngwing 10.png');
 background-size: cover;
 background-repeat: no-repeat;
 margin-top: 30px;
}


/* this is ending of the header section design. */

/* this is the design of the main section */



.feature-container{

display: flex;
justify-content: center;
gap: 30px;

}

.feature{
    height: 600px;
    width: 80%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.feature h2{
    text-align: center;
    margin-top: 50px;
    color: #272727;
    font-size: 30px;
     font-weight: 800;
}

.feature p{
    text-align: center;
    margin-top: 13px;
    margin-bottom: 15px;
color: rgba(39, 39, 39, 0.60);
text-align: center;
font-family: Lato;
font-size: 13px;
font-weight: 400;
line-height: 20px;
}

.feature-image{
    height: 400px;
    width: 320px;
    background-color: #E55473;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}
.feature-image img{
    height: 300px;
    width: 250px;
    margin-top: 100px;
    margin-left: 25px;
}


.feature-image-2{
    background-color:#0597A026 ;
}


.feature-image-3{

background-color: #477D1126;
}


.feature-metarial p{
    text-align: center;
     margin-top: 10px;
    color: #272727;
    font-size: 16px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;


}
.hot-deal{
    height: 470px;
    width: auto;
    background-color: #E554730D;
    display: flex;
    justify-content: center;
    align-items: center;
gap: 150px;
}

.hot-deal-text{
    width:500px;
    height: 150px;
    text-align: center;
}

.deal-section-img{
    width: 280px;
    height: 380px;
}

.hot-deal-title{
    color: #272727;
font-size: 40px;
font-style: normal;
font-weight: 800;

}
.hot-deal-description{
color: rgba(39, 39, 39, 0.60);
text-align: center;
font-size: 16px;
font-weight: 400;
line-height: 20px;
}

.hot-deal-btn{

padding: 14px 33px;
border-radius: 8px;
background: #E55473;
color: #FFF;
font-size: 15px;
font-weight: 500;
margin-top: 25px;
border: none;
}


#off{
    color:#E55473;
}
.instagram{
    height: 600px;
    width: 80%;
    margin: auto;
    text-align: center;
    margin-top: 100px;

}


.instagram-images{
    display: flex;
}


.instagram h1{
    text-align: center;
    color: #272727;
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 15px;
}

.instagram-text{
    color: rgba(39, 39, 39, 0.60);
text-align: center;
font-size: 18px;
font-weight: 400;
line-height: 20px;
margin-bottom: 20px;
}




.instagram-images img{
    height: 300px;
    width: 250px;
    margin-right: 30px;
}




.latest-deal{
    height: 400px;
    width: 80%;
    margin: auto;
    background-image: url('images/Rectangle 9.png');
background-size: cover;
background-repeat: no-repeat;
margin-bottom: 200px;
display: flex;
justify-content: center;
align-items: center;
}


.latest-dell-info h1{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

.latest-dell-info p{
    color: rgba(39, 39, 39, 0.60);
text-align: center;
font-size: 18px;
font-weight: 400;
line-height: 30px;
padding-bottom: 20px;
}

.latest-deal input{
    width: 500px;
    height: 40px;
    border-radius: 4px;
    background-color: #FFF;
    margin-right:20px;
    border: none;
    padding-left: 30px;
}
.latest-deal button{
    width: 100px;
height: 40px;
background-color: #E55473;
border-radius: 5px;
color: #FFF;
font-size: 15px;
font-weight: 700;
border: none;

}

/* this is he creative section design. */



#facebook-text{
    text-align: center;
    margin-top: 20px;
    font-weight: 700;
    line-height: 20px;
    color: #272727;

}
/* this is the footer section design. */



footer{
    height:350px;
    width: auto;
    background-color: #000000;
    color: white;
    display:flex;
    justify-content: center;
    align-items: center;
}



.footer-all-text{

width: 550px;
text-align: center;
}

.footer-head{
color: #ffffff;
font-size: 38px;
font-weight: 800;
margin-bottom: 14px;

}

.footer-description{

    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 15px;

}

.additional-text{
 color: rgba(255, 255, 255, 0.40);
font-size: 13px;
font-weight: 400;
margin-top: 12px;
}
.flower-shop{
    color:#E55473;
}